POSTGRES_PASSWORD=${your_password}
POSTGRES_USER=${your_name}
POSTGRES_PORT=${your_port}
POSTGRES_DB=${your_db}
APP_PORT=${your_app_port}
NOM=${Visitor}
APP_ENV=${APP_ENV}
FLASK_DEBUG=${FLASK_DEBUG}
APP_NAME=${APP_NAME}